/* GENERAL SECTION */
body {
display: grid;
grid-template-columns: 1fr 4fr;
grid-template-rows: 1fr 4fr;
}
 /* HEADER */
.header {
}

 .homeLogo {

 }

.libNav {

}

.libNav > button {

}

.userSection{

}

/* SIDEBAR SECTION */
.sidebar {
}

.homeIcon {
    
}

.form {

}

.form > fieldset {

}

.filters {
    
}

.filterby {
    
}

.form {
    
}

/* LIBRARY SECTION */
.library {
    grid-area: 2 / 2 / 3 / 3;
}