/* GENERAL SECTION */
body {
display: grid;
grid-template-columns: 1fr 4fr;
grid-template-rows: 1fr 4fr;
}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

}

/* SIDEBAR SECTION */
.sidebar {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
}

.navigation {
    
}

.filters {
    
}

.filterby {
    
}

.form {
    
}

/* LIBRARY SECTION */
.library {
    grid-area: 2 / 2 / 3 / 3;
}